html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

#prev-notes-container {
    height: 100%;
    overflow: scroll;
}

.row {
    display: flex;
    flex-direction: row;
}

.row > *:nth-child(1) {
    width: 50%;
}

.row > *:nth-child(2) {
    width: 100%;
}